{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Hero Section -->
<div class="text-center mt-5">
    <h1 class="display-4 text-primary fs-4">Welcome to Money Parce!</h1>
    <p class="lead fs-6">Manage your expenses and achieve your financial goals easily.</p>
    <img src="{% static 'financials/images/finance_picture.jpg' %}" alt="Money management" class="img-fluid mt-4" style="max-width: 400px;">
    <div class="mt-4">
        <a href={% url 'home.about' %} class= "btn btn-success btn-lg">Get Started</a>
    </div>
</div>

<!-- Features Section -->
<div id="features" class="container mt-5">
    <h2 class="text-center mb-lg-3 fs-4">What You Can Do with MoneyParce</h2>
    <div class="row text-center">
        <div class="col-md-3">
            <h5 class="fs-4">Track Your Finances</h5>
            <ul class="list-unstyled">
                <li>Add and categorize expenses</li>
                <li>Add income entries</li>
                <li>Edit and delete transactions</li>
                <li>View past expenditures</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5 class="fs-4">Smart Budgeting</h5>
            <ul class="list-unstyled">
                <li>Set budgeting goals</li>
                <li>Create expense categories</li>
                <li>Visualize income vs expenses</li>
                <li>Receive alerts on budget limits</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5 class="fs-4">Account Access</h5>
            <ul class="list-unstyled">
                <li>Register and reset passwords</li>
                <li>Access from any device</li>
                <li>Receive financial tips</li>
                <li>Ask questions easily</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5 class="fs-4">Admin Tools</h5>
            <ul class="list-unstyled">
                <li>Manage accounts</li>
                <li>Search and assist users</li>
                <li>Reset user passwords</li>
            </ul>
        </div>
    </div>
</div>

<!-- Contact Section -->
<div id="contact" class="container mt-5 mb-5">
    <h2 class="text-center mb-1 fs-4">Contact Us</h2>
    <p class="text-center">Reach out at <a href="mailto:contact@moneyparce.com">contact@moneyparece.com</a></p>
</div>

<!-- Footer -->
<footer class="bg-light text-center py-4">
    <p>© 2025 Money Parce. All rights reserved.</p>
</footer>
{% endblock %}