{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-white text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>Money Parce</h2>
  </div>
</header>
    <div class="row">
      <div class="col mx-auto text-center">
        <h4>MoneyParce helps you manage your personal finances by tracking income and expenses,
      setting budgets, and giving insights into your spending habits. It's easy to use, accessible
      from any device, and built to help you make smarter money decisions.</h4>
      </div>
    </div>
  </div>
</div>
{% endblock content %}