{% extends 'base.html' %}

{% block head_title %}
    Transaction List
{% endblock %}

{% block content %}
<h1>
    Transactions List
</h1>

<div>
<h2>
    Categories:
</h2>
{%  if categories %}
    <form method="GET">
        <div>
        {% for category in categories %}
            <input id={{ category.name }} type="checkbox" name={{ category.name }}>
            <label for={{ category.name }}>{{ category.name }}</label>
        {% endfor %}
        </div>
        <div>
            <button class="btn bg-dark text-white" type="submit">Filter</button>
        </div>
    <p>
        {{ filters }}
    </p>
    </form>
{%  endif %}
</div>

<div>
{% if transactions %}
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Type</th>
                <th>Amount</th>
            </tr>
        </thead>

        <tbody>
            {%  for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.category.name }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>
        No transactions Found
    </p>
{% endif %}
</div>
{% endblock %}
