{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Money Parce</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href={% url 'home.index' %}>Money Parce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href={% url 'home.index' %}>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'home.about' %}>About</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href={% url 'financials.dashboard' %}>Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'financials.transactions-list' %}>Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'accounts.logout' %}>Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'accounts.login' %}>Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'accounts.signup' %}>Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>